@import 'bootstrap/css/bootstrap.min.css';
/* VARIABLES */
$padding: 20px;
@mixin breakpoint($point) {
    @if $point == large {
      @media (max-width: 1600px) { @content; }
    }
    @else if $point == medium {
      @media (max-width: 1250px) { @content; }
    }
    @else if $point == small {
      @media (max-width: 650px)  { @content; }
    }
  }
/* END OF VARIABLES */
body {
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}
.logoMairie {
    float:left;
    width: 100px;
    height:100px;
    border-radius:500px;
    padding:10px;
    background: white;
    margin-right: 20px;
    @include breakpoint(small) {
        width: 70px;
        height:70px;
        border-radius:500px;
        padding:6px;
    }
}
.absolutePos1 {
    position: absolute;
    top: 100px;
    left: 80px;
    width: 500px;
    text-align: left;
    padding: $padding;
    h1 {
        font-weight: 600;
        font-size: 30px;
    }
    h3 {
        color: rgba(0,0,0,.4);
        font-weight: 600;
        font-size: 20px;
    }
    @include breakpoint(small) {
        left: 20px;
    }
}
.absolutePos2 {
    background-color: rgb(241, 172, 4);
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    padding: $padding 0 $padding/2 0;
}
.fullBackgroundImage {
    background: url(images/village/IMG_20200517_174905.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width:100%;
    height:100vh;
}

/* codepen */
body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-image: url(images/village/IMG_20200517_174905.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  .masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  .masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.pageContent {
  margin: 70px 0 50px 0;
}
/* end of codepen */